.l-services-v1 .l-services-v1-icon{
	box-shadow:0 0 5px 2px rgba(0, 188, 212, 0.7)
}
.l-services-v1.l-services-v1-icon-one .l-services-v1-title{
	color:#00bcd4
}
.blog-grid .blog-grid-supplemental-category,
.blog-grid .blog-grid-supplemental-category a{
	color:#00bcd4
}
.widget_archive li a:hover,
.widget_categories li a:hover,
.widget_pages li a:hover,
.widget_meta li a:hover,
.widget_recent_comments li a:hover,
.widget_recent_entries li a:hover,
.widget_nav_menu li a:hover,
.woocommerce.widget_product_categories li a:hover,
.widget_rss li a:hover{
	color:#00bcd4
}
#searchform #searchsubmit{
	color:#00bcd4
}
#searchform #searchsubmit:hover{
	background-color:#00bcd4;
	border-color:#00bcd4
}
.widget_tag_cloud .widget-body a:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.news-v3 .news-v3-content .news-v3-subtitle a{
	color:#00bcd4
}
.news-v4 .news-v4-divider{
	border-bottom:1px solid #00bcd4
}
.blog-grid-supplemental .blog-grid-supplemental-title a{
	color:#00bcd4
}
.news-v8:hover .news-v8-img-effect:before{
	background-color:rgba(0, 188, 212, 0.7)
}
.news-v8 .news-v8-footer-list .news-v8-footer-list-link:hover,
.fg-text-light.news-v8-footer .news-v8-footer-list-item .ff-meta-item a:hover,
.fg-text-light.news-v9-title a:hover{
	color:#00bcd4
}
.news-v8 .news-v8-more .news-v8-more-link{
	background-color:#00bcd4
}
.blockquotes-v1{
	color:#00bcd4
}
.blockquotes-v1:after{
	background-color:#00bcd4
}
.breadcrumbs-v1 a:hover{
	color:#00bcd4
}
.breadcrumbs-v1 li.active{
	color:#00bcd4
}
.breadcrumbs-v2 a:hover{
	color:#00bcd4
}
.breadcrumbs-v2 li.active{
	color:#00bcd4
}
.breadcrumbs-v3 a:hover{
	color:#00bcd4
}
.breadcrumbs-v3 li.active{
	color:#00bcd4
}
.breadcrumbs-v4 a:hover{
	color:#00bcd4
}
.breadcrumbs-v5 a:hover{
	color:#00bcd4
}
.btn-base-bg-anim{
	background:#00bcd4
}
.btn-base-bg-anim:hover,
.btn-base-bg-anim:focus,
.btn-base-bg-anim.focus{
	background:#00bcd4
}
.btn-group.btn-white-toggle.open .btn-white-bg:after{
	color:#00bcd4
}
.btn-group.btn-white-toggle .dropdown-menu>li>a:hover,
.btn-group.btn-white-toggle .dropdown-menu>li>a:focus{
	background:#00bcd4
}
.btn-dropdown-group.open .btn-dropdown-toggle{
	background:#00bcd4
}
.btn-dropdown-group:hover .btn-dropdown-toggle{
	background:#00bcd4
}
.divider-v1 .divider-v1-element-bg,
.divider-v2 .divider-v2-element-bg,
.divider-v3 .divider-v3-element-bg,
.divider-v3-5 .divider-v3-5-element-bg{
	background:#00bcd4
}
.divider-v1 .divider-v1-icon,
.divider-v2 .divider-v2-icon,
.divider-v3 .divider-v3-icon,
.divider-v3-5 .divider-v3-5-icon{
	color:#00bcd4
}
.divider-v5 .divider-v5-element{
	color:#00bcd4
}
.divider-v5 span.before,
.divider-v5 span.after{
	border-color:#00bcd4
}
.dropcap-base-bordered{
	color:#00bcd4;
	border:1px solid #00bcd4
}
.lists-base .lists-item-element-brd{
	color:#00bcd4;
	border:1px solid #00bcd4
}
.paginations-v3-list li>a:hover,
.paginations-v3-list li>span:hover{
	color:#00bcd4
}
.paginations-v3-list li>.current,
.paginations-v3-list.page-numbers-single li>span,
.paginations-v3-list li.active>a,
.paginations-v3-list li.active>span{
	background:#00bcd4
}
.paginations-v3-list li>.current:hover,
.paginations-v3-list.page-numbers-single li>span:hover,
.paginations-v3-list li.active>a:hover,
.paginations-v3-list li.active>span:hover{
	background:#00bcd4
}
.pagers-v2 li>a:hover,
.pagers-v2 li>span:hover{
	background:#00bcd4
}
.segment-controls{
	border:1px solid #00bcd4
}
.tab-v1 .nav-tabs>li.active>a{
	color:#00bcd4
}
.tab-v3 .nav-tabs>li:hover>a{
	color:#00bcd4
}
.tab-v5 .nav-tabs.nav-tabs-left>li.active>a,
.tab-v5 .nav-tabs.nav-tabs-left>li:hover>a{
	color:#00bcd4
}
.tab-v6 .nav-tabs.nav-tabs-right>li:active>a,
.tab-v6 .nav-tabs.nav-tabs-right>li:hover>a{
	color:#00bcd4
}
.theme-icons-base{
	color:#00bcd4
}
.theme-icons-wrap>a[href]>.theme-icons-white-bg:hover,
.team-v9 .theme-icons:hover{
	background-color:#00bcd4
}
.animate-theme-icons .animate-theme-icons-base-brd{
	color:#00bcd4;
	border:1px solid #00bcd4
}
.timeline-v1 .timeline-v1-list-item .timeline-v1-news-title>a:hover{
	color:#00bcd4
}
.timeline-v2 .timeline-v2-news-title>a:hover{
	color:#00bcd4
}
.timeline-v4 .timeline-v4-subtitle a{
	color:#00bcd4
}
.call-to-action-v1 .call-to-action-v1-title span,
.call-to-action-v2 .call-to-action-v2-telephone{
	color:#00bcd4
}
.call-to-action-v3 .call-to-action-badge{
	background-color:#00bcd4
}
.icon-box-v1 .icon-box-v1-header{
	background-color:#00bcd4
}
.icon-box-v2 .icon-box-v2-icons{
	color:#00bcd4
}
.services-v8:hover{
	background:#00bcd4
}
.team-v3 .team-v3-overlay-content .theme-icons-white-bg:hover,
.team-v4 .team-v4-overlay-content .theme-icons-white-bg:hover{
	background-color:#00bcd4
}
.team-v3 .team-v3-member-position{
	color:#00bcd4
}
.testimonials-v1 .testimonials-v1-author{
	color:#00bcd4
}
.testimonials-v4 .testimonials-v4-author{
	color:#00bcd4
}
.testimonials-v5 .testimonials-v5-author{
	color:#00bcd4
}
.testimonials-v6 .testimonials-v6-author{
	color:#00bcd4
}
.footer-link-v6-list .footer-link-v6-list-item .footer-link-v6-list-link:hover{
	color:#00bcd4
}
.header ul.navbar-nav.no-ff>li.current-menu-item>a,
.header .navbar-nav .nav-item-child.active{
	color:#00bcd4
}
.header ul.navbar-nav.no-ff>li.current-menu-item>a:hover,
.header .navbar-nav .nav-item-child.active:hover{
	color:#00bcd4
}
.header ul.navbar-nav.no-ff>li>a:hover,
.header ul.navbar-nav.no-ff>li>a:focus,
.header .navbar-nav .nav-item-child:hover,
.header .navbar-nav .nav-item-child:focus{
	color:#00bcd4
}
@media (max-width: 991px) {
	.header .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
.header-center-aligned .navbar-nav .nav-item-child:hover{
	color:#00bcd4
}
@media (max-width: 991px) {
	.header-center-aligned .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-center-aligned .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-center-aligned .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (max-width: 991px) {
	.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-center-aligned-transparent .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-child.active{
		color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active,
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover{
	color:#00bcd4
}
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active:before,
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active:after,
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:before,
.header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:after,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:before,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:after,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:after,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:before,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:after,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:before,
.header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:after,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:before,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:after,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:after{
	color:#00bcd4
}
.header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-link:hover{
	color:#00bcd4
}
.header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-child.active{
	color:#00bcd4
}
.header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-child:hover{
	color:#00bcd4
}
.header-section-scroll ul.header-section-scroll-menu li.active .nav-item-child:hover,
.header-section-scroll ul.header-section-scroll-menu li.active .nav-item-child:focus{
	color:#00bcd4
}
.header-section-scroll .header-section-scroll-menu li a:hover{
	color:#00bcd4
}
.header-slide .header-slide-nav .header-slide-nav-link:hover{
	color:#00bcd4
}
.header-slide-subnav .header-slide-subnav-link.active{
	background:#00bcd4
}
.header-slide-subnav .header-slide-subnav-link.active:hover{
	background:#00bcd4
}
.header-slide-subnav .header-slide-subnav-link:hover{
	color:#00bcd4
}
.header-transparent .navbar-nav .open .nav-item-child:hover{
	color:#00bcd4
}
@media (max-width: 991px) {
	.header-transparent .navbar-nav .nav-item-bg{
		border:1px solid #00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-transparent .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-child.active{
		color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child:hover{
		background:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg:hover .nav-item-child{
		background:#00bcd4
	}

}
.search-menu .search-btn .search-btn-default:hover,
.search-menu .search-btn .search-btn-active:hover{
	color:#00bcd4
}
.search-classic .search-classic-field{
	border-top:2px solid #00bcd4
}
.search-classic .search-classic-submit-button{
	background-color:#00bcd4
}
.ark-woocommerce-products a.title:hover{
	color:#00bcd4
}
.ark-woocommerce-products .add_to_cart_button,
.ark-woocommerce-products .added_to_cart{
	border:1px solid #00bcd4;
	color:#00bcd4
}
.ark-woocommerce-products .add_to_cart_button:hover,
.ark-woocommerce-products .added_to_cart:hover,
.ark-woocommerce-products .add_to_cart_button.loading{
	background:#00bcd4
}
.animsition-loading{
	border-left:2px solid #00bcd4
}
.theme-carousel-indicators-v3 li.active,
.theme-carousel-indicators-v3 li.fg-text-dark.active{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v3 li:hover,
.theme-carousel-indicators-v3 li.fg-text-dark:hover{
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v3 li:hover.active,
.theme-carousel-indicators-v3 li.fg-text-dark:hover.active{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v5 li.active .theme-carousel-indicators-item{
	border:2px solid #00bcd4
}
.owl-dot span,
.owl-dots span{
	border:1px solid #00bcd4
}
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-link,
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-button-link,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-link,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-button-link{
	color:#00bcd4;
	border:1px solid #00bcd4
}
.theme-portfolio .cbp-item .theme-portfolio-lightbox .theme-portfolio-item-v3-icon:hover:before,
.theme-portfolio .cbp-item .theme-portfolio-lightbox .theme-portfolio-item-v3-icon:hover:after{
	background:#00bcd4
}
.portfolio-item-category:hover{
	color:#00bcd4
}
.theme-portfolio-v2 .cbp-l-filters-alignRight .cbp-filter-item:hover{
	color:#00bcd4
}
.theme-portfolio-filter-v1 .cbp-filter-item.cbp-filter-item-active{
	color:#00bcd4
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-base,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-base{
	background:#00bcd4
}
.brd-color-base{
	border-color:#00bcd4 !important
}
.bg-color-base-hover:hover{
	background:#00bcd4 !important
}
.icon-color-base-hover:hover .animate-icon-item:last-child{
	color:#00bcd4 !important
}
.before-bg-base:before{
	background:#00bcd4 !important
}
.after-bg-base:after{
	background:#00bcd4 !important
}
.before-after-bg-base:before,
.before-after-bg-base:after{
	background:#00bcd4 !important
}
.ff-button-base-slide{
	color:#00bcd4;
	border-color:#00bcd4
}
.ff-button-base-slide:hover,
.ff-button-base-slide:focus,
.ff-button-base-slide.focus{
	background:#00bcd4;
	border-color:#00bcd4
}
.progress-box-v1 .progress-bar{
	background-color:#00bcd4
}
.blog-simple-2-divider{
	background-color:#00bcd4
}
.blog-simple-3-divider{
	background-color:#00bcd4
}
.theme-portfolio-v2 .cbp-filter-item.cbp-filter-item-active{
	color:#00bcd4
}
a{
	color:#00bcd4
}
a:focus,a:hover,a:active{
	color:#00bcd4
}
h1>a:hover,h2>a:hover,h3>a:hover,h4>a:hover,h5>a:hover,h6>a:hover{
	color:#00bcd4
}
::selection{
	background:#00bcd4
}
::-webkit-selection{
	background:#00bcd4
}
::-moz-selection{
	background:#00bcd4
}
.blog-classic .blog-classic-content .blog-classic-share .blog-classic-share-item .blog-classic-share-link:hover .blog-share-icon{
	color:#00bcd4
}
.blog-classic .blog-classic-content .blog-classic-publisher .blog-classic-publisher-name>a:hover{
	color:#00bcd4
}
.blog-grid .blog-grid-supplemental-category{
	color:#00bcd4
}
.blog-grid-quote .blog-grid-quote-text:hover{
	color:#00bcd4
}
.blog-grid-quote-v2{
	background:#00bcd4
}
.blog-grid-thumb .blog-grid-thumb-body:before{
	background:rgba(0, 188, 212, 0.7)
}
.twitter-feed .twitter-feed-item .twitter-feed-content .twitter-feed-link{
	color:#00bcd4
}
.featured-article .featured-article-content .featured-article-content-title>a:hover{
	color:#00bcd4
}
.blog-sidebar-tags>li>a:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.btn-base-brd{
	color:#00bcd4;
	border-color:#00bcd4
}
.btn-base-brd:hover,
.btn-base-brd:focus,
.btn-base-brd.focus{
	background:#00bcd4;
	border-color:#00bcd4
}
.btn-white-bg:hover,
.btn-white-bg:focus,
.btn-white-bg.focus{
	background:#00bcd4;
	border-color:#00bcd4
}
.btn-base-bg-slide{
	background:#00bcd4
}
.btn-base-bg-slide:hover,
.btn-base-bg-slide:focus,
.btn-base-bg-slide.focus{
	background:#00bcd4
}
.btn-white-bg-slide:after,
.btn-white-bg-slide:before{
	background:#00bcd4
}
.blog-teaser-v2:hover .blog-teaser-v2-overlay{
	background:rgba(0, 188, 212, 0.7)
}
.news-v1 .news-v1-heading .news-v1-heading-tag:hover{
	color:#00bcd4
}
.news-v1 .news-v1-lists .news-v1-lists-item .news-v1-lists-link:hover{
	color:#00bcd4
}
.news-v4 .news-v4-title-element-left:after{
	border-bottom-color:#00bcd4
}
.news-v4 .news-v4-title-element-right:after{
	border-bottom-color:#00bcd4
}
.news-v5 .news-v5-icon{
	color:#00bcd4
}
.news-v6 .news-v6-subtitle{
	color:#00bcd4
}
.news-v8:hover .news-v8-img-effect:before{
	background:rgba(0, 188, 212, 0.7)
}
.news-v8 .news-v8-footer-list .news-v8-footer-list-link:hover{
	color:#00bcd4
}
.news-v8 .news-v8-more .news-v8-more-link{
	background:#00bcd4
}
.accordion-v1 .panel-title>a[aria-expanded="true"]{
	background:#00bcd4
}
.accordion-v1 .panel-title>a:hover{
	background:#00bcd4
}
.accordion-v2 .panel-title>a:hover{
	color:#00bcd4
}
.accordion-v2 .panel-title>a:hover:after{
	color:#00bcd4
}
.accordion-v3 .panel-title>a:hover{
	color:#00bcd4
}
.accordion-v3 .panel-title>a:hover:before{
	color:#00bcd4
}
.accordion-v4 .panel-title>a:before{
	color:#00bcd4
}
.accordion-v4 .panel-title>a:hover{
	color:#00bcd4
}
.accordion-v4 .panel-title>a:hover:before{
	color:#00bcd4
}
.accordion-v5 .panel-title>a:hover{
	color:#00bcd4
}
.accordion-v5 .panel-title>a:hover:after{
	color:#00bcd4
}
.breadcrumbs-v1 .breadcrumbs-v1-links>li>a:hover{
	color:#00bcd4
}
.breadcrumbs-v1 .breadcrumbs-v1-links>li.active{
	color:#00bcd4
}
.breadcrumbs-v2 .breadcrumbs-v2-links>li>a:hover{
	color:#00bcd4
}
.breadcrumbs-v2 .breadcrumbs-v2-links>li.active{
	color:#00bcd4
}
.breadcrumbs-v3 .breadcrumbs-v3-links>li>a:hover{
	color:#00bcd4
}
.breadcrumbs-v3 .breadcrumbs-v3-links>li.active{
	color:#00bcd4
}
.btn-base{
	color:#00bcd4
}
.btn-base:hover,
.btn-base:focus,
.btn-base.focus{
	background:#00bcd4;
	border-color:#00bcd4
}
.divider-v1 .divider-v1-element-bg,
.divider-v2 .divider-v2-element-bg,
.divider-v3 .divider-v3-element-bg{
	background:#00bcd4
}
.divider-v2 .divider-v2-icon,
.divider-v3 .divider-v3-icon{
	color:#00bcd4
}
.dropcap-base{
	color:#00bcd4
}
.dropcap-base-bg{
	background:#00bcd4
}
.dropcap-base-bordered{
	color:#00bcd4;
	border-color:#00bcd4
}
.bordered-icon .bordered-icon-box:hover{
	background:#00bcd4
}
.lists-base>li>a:hover,
.lists-dark>li>a:hover{
	color:#00bcd4
}
.lists-base>li .lists-item-element,
.lists-dark>li .lists-base .lists-item-element,
.lists-base .lists-dark>li .lists-item-element{
	color:#00bcd4
}
.lists-base .lists-item-element-brd{
	color:#00bcd4;
	border-color:#00bcd4
}
.lists-base .lists-item-element-bg{
	background:#00bcd4
}
.numeric-base-lists>li>a:hover,
.numeric-dark-lists>li>a:hover{
	color:#00bcd4
}
.numeric-base-lists>li{
	color:#00bcd4
}
.login .login-form-forgot:hover{
	color:#00bcd4
}
.paginations-v1-list>li>a:hover,
.paginations-v1-list>li>span:hover{
	background:rgba(0, 188, 212, 0.7)
}
.paginations-v1-list>li.next>a:hover,
.paginations-v1-list>li.next>span:hover,
.paginations-v1-list>li.previous>a:hover,
.paginations-v1-list>li.previous>span:hover{
	color:#00bcd4
}
.paginations-v1-list>li.active>a,
.paginations-v1-list>li.active>span{
	background:#00bcd4
}
.paginations-v2-list>li>a:hover,
.paginations-v2-list>li>span:hover{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.paginations-v2-list>li.active>a,
.paginations-v2-list>li.active>span{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.paginations-v2-list>li.active>a:hover,
.paginations-v2-list>li.active>span:hover{
	color:#00bcd4
}
.paginations-v3-list>li>a,
.paginations-v3-list>li>span{
	color:#00bcd4
}
.paginations-v3-list>li>a:hover,
.paginations-v3-list>li>span:hover{
	color:#00bcd4
}
.paginations-v3-list>li.active>a,
.paginations-v3-list>li.active>span{
	background:#00bcd4;
	border-color:#00bcd4
}
.paginations-v3-list>li.active>a:hover,
.paginations-v3-list>li.active>span:hover{
	background:#00bcd4
}
.pagers-v1:hover{
	background:#00bcd4
}
.pagers-v2 li>a:hover,
.pagers-v2 li>span:hover{
	border-color:#00bcd4;
	background:#00bcd4
}
.tab-v1 .nav-tabs>li:hover>a{
	color:#00bcd4
}
.tab-v3 .nav-tabs>li:not(.active):hover>a{
	color:#00bcd4
}
.tab-v3 .nav-tabs>li.active>a{
	background:#00bcd4
}
.tab-v4 .nav-tabs{
	background:#00bcd4
}
.tab-v5 .nav-tabs.nav-tabs-left>li:hover>a{
	color:#00bcd4
}
.tab-v5 .nav-tabs.nav-tabs-left>li.active>a{
	color:#00bcd4
}
.tab-v6 .nav-tabs.nav-tabs-right>li:hover>a{
	color:#00bcd4
}
.tab-v6 .nav-tabs.nav-tabs-right>li.active>a{
	color:#00bcd4
}
.theme-icons-wrap>a[href]>.theme-icons-base-hover:hover{
	background:#00bcd4
}
.theme-icons-base-bg{
	background:#00bcd4
}
.theme-icons-wrap>a[href]>.theme-icons-grey-light-bg:hover{
	background:#00bcd4
}
.theme-icons-base-brd{
	color:#00bcd4;
	border-color:#00bcd4
}
.theme-icons-wrap>a[href]>.theme-icons-base-brd:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.animate-theme-icons .animate-theme-icons-base{
	color:#00bcd4
}
.animate-theme-icons .animate-theme-icons-base-bg{
	background:#00bcd4
}
.animate-theme-icons .animate-theme-icons-base-brd{
	color:#00bcd4;
	border-color:#00bcd4
}
.theme-icons-elegant .theme-icons-element .theme-icons-wrap>a[href]>.theme-icons:hover{
	background:#00bcd4
}
.image-gallery .image-gallery-overlay{
	background:rgba(0, 188, 212, 0.7)
}
.image-gallery-v2 .image-gallery-v2-overlay{
	background:rgba(0, 188, 212, 0.7)
}
.i-banner-v2 .i-banner-v2-heading .i-banner-v2-heading-month{
	color:#00bcd4
}
.i-banner-v3 .i-banner-v3-content .i-banner-v3-element .i-banner-v3-element-icon{
	color:#00bcd4
}
.newsletter-v5 .newsletter-v5-btn:hover{
	color:#00bcd4
}
.newsletter-v8:hover{
	background:#00bcd4
}
.poster-v1 .poster-v1-body .poster-v1-author{
	color:#00bcd4
}
.poster-v2 .poster-v2-subtitle{
	color:#00bcd4
}
.process-v1 .process-v1-back{
	background:#00bcd4
}
.process-v2:hover .process-v2-element{
	background:#00bcd4
}
.service-block-v4 .service-block-v4-content .service-block-v4-content-subtitle{
	color:#00bcd4
}
.service-block-v6.service-block-v6-color-three:before{
	background:rgba(0, 188, 212, 0.7)
}
.service-block-v8 .service-block-v8-subtitle{
	color:#00bcd4
}
.team-v1 .team-v1-content .team-v1-socials .team-v1-socials-link:hover{
	color:#00bcd4
}
.team-v2 .team-v2-member-position{
	color:#00bcd4
}
.team-v3 .team-v3-header .team-v3-member-position{
	color:#00bcd4
}
.team-v5 .team-v5-content .team-v5-author-contact:hover{
	color:#00bcd4
}
.footer .footer-address .footer-address-link:hover{
	color:#00bcd4
}
.footer .footer-media .footer-media-item .footer-media-link:hover{
	color:#00bcd4
}
.footer .footer-tags>li>a:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.footer .footer-news-list .footer-news-list-item .footer-news-list-link:hover{
	color:#00bcd4
}
.footer .footer-video-title .footer-video-title-link:hover{
	color:#00bcd4
}
.footer .footer-copyright .footer-copyright-item>a:hover{
	color:#00bcd4
}
.footer .footer-toggle .footer-toggle-link:hover{
	color:#00bcd4
}
.footer-v2{
	background:#00bcd4
}
.footer-v4 .footer-v4-service .footer-v4-service-item .footer-v4-service-icon{
	color:#00bcd4
}
.footer-v4 .footer-v4-service .footer-v4-service-item .footer-v4-service-link:hover{
	color:#00bcd4
}
.footer-v4 .footer-v4-news .footer-v4-news-item .footer-v4-news-link:hover{
	color:#00bcd4
}
.footer-v4 .footer-v4-link:hover{
	color:#00bcd4
}
.footer-v4 .footer-v4-copyright .footer-v4-terms-list .footer-v4-terms-link:hover{
	color:#00bcd4
}
.footer-v5 .footer-v5-content-subtitle{
	color:#00bcd4
}
.footer-v5 .footer-v5-list .footer-v5-list-item .footer-v5-list-link:hover{
	color:#00bcd4
}
.footer-v5-copyright .footer-v5-copright-socials .footer-v5-copright-socials-item .footer-v5-copright-socials-link:hover{
	color:#00bcd4
}
.footer-v6 .footer-link-v6-list .footer-link-v6-list-item .footer-link-v6-list-link:hover{
	color:#00bcd4
}
.form-modal .form-modal-back-btn-message .form-modal-back-btn-message-link{
	color:#00bcd4
}
.form-modal .form-modal-input-group .form-modal-hide-password:hover{
	color:#00bcd4
}
.form-modal .form-modal-close-form:hover{
	color:#00bcd4
}
.header .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header .navbar-toggle:hover .toggle-icon:before,
.header .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header .topbar-toggle-trigger:hover .topbar-toggle-trigger-style{
	background:#00bcd4
}
.header .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:before,
.header .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:after{
	background:#00bcd4
}
.header .topbar-toggle-trigger-icon-style:hover{
	color:#00bcd4
}
.header .navbar-nav .nav-item-child.active{
	color:#00bcd4
}
.header .navbar-nav .nav-item-child.active:hover{
	color:#00bcd4
}
.header .navbar-nav .nav-item-child:hover,
.header .navbar-nav .nav-item-child:focus{
	color:#00bcd4
}
.header .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active{
	color:#00bcd4
}
.header .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active:hover{
	color:#00bcd4
}
.header .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child:hover{
	background:#00bcd4
}
.header .dropdown-menu .dropdown-menu-item.active .dropdown-menu-item-child{
	color:#00bcd4
}
.header .dropdown-submenu:hover>.dropdown-submenu-child:not(:hover){
	color:#00bcd4
}
.header .dropdown-submenu .dropdown-submenu-child.active{
	color:#00bcd4
}
.header .dropdown-submenu .dropdown-submenu-child.active:hover{
	color:#00bcd4
}
.header .dropdown-submenu .dropdown-submenu-child.active:hover:after{
	color:#00bcd4
}
.header .dropdown-submenu .dropdown-submenu-child:hover{
	background:#00bcd4
}
.header .dropdown-submenu.active .dropdown-submenu-child{
	color:#00bcd4
}
.header .dropdown-submenu.active .dropdown-submenu-child:hover{
	color:#00bcd4
}
.header .mega-menu-list .mega-menu-child.active{
	color:#00bcd4
}
.header .mega-menu-list .mega-menu-child.active:hover{
	color:#00bcd4
}
.header .mega-menu-list .mega-menu-child:hover{
	background:#00bcd4
}
@media (max-width: 991px) {
	.header .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
.header-center-aligned .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header-center-aligned .navbar-toggle:hover .toggle-icon:before,
.header-center-aligned .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header-center-aligned .topbar-toggle-trigger:hover .topbar-toggle-trigger-style{
	background:#00bcd4
}
.header-center-aligned .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:before,
.header-center-aligned .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:after{
	background:#00bcd4
}
.header-center-aligned .topbar-toggle-trigger-icon-style:hover{
	color:#00bcd4
}
.header-center-aligned .navbar-nav .nav-item-child.active{
	color:#00bcd4
}
.header-center-aligned .navbar-nav .nav-item-child.active:hover{
	color:#00bcd4
}
.header-center-aligned .navbar-nav .nav-item-child:hover,
.header-center-aligned .navbar-nav .nav-item-child:focus{
	color:#00bcd4
}
.header-center-aligned .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active{
	color:#00bcd4
}
.header-center-aligned .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active:hover{
	color:#00bcd4
}
.header-center-aligned .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child:hover{
	background:#00bcd4
}
.header-center-aligned .dropdown-menu .dropdown-menu-item.active .dropdown-menu-item-child{
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu:hover>.dropdown-submenu-child:not(:hover){
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu .dropdown-submenu-child.active{
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu .dropdown-submenu-child.active:hover{
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu .dropdown-submenu-child.active:hover:after{
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu .dropdown-submenu-child:hover{
	background:#00bcd4
}
.header-center-aligned .dropdown-submenu.active .dropdown-submenu-child{
	color:#00bcd4
}
.header-center-aligned .dropdown-submenu.active .dropdown-submenu-child:hover{
	color:#00bcd4
}
.header-center-aligned .mega-menu-list .mega-menu-child.active{
	color:#00bcd4
}
.header-center-aligned .mega-menu-list .mega-menu-child.active:hover{
	color:#00bcd4
}
.header-center-aligned .mega-menu-list .mega-menu-child:hover{
	background:#00bcd4
}
@media (max-width: 991px) {
	.header-center-aligned .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-center-aligned .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-center-aligned .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-center-aligned .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-center-aligned .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
.header-center-aligned-transparent .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header-center-aligned-transparent .navbar-toggle:hover .toggle-icon:before,
.header-center-aligned-transparent .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header-center-aligned-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style{
	background:#00bcd4
}
.header-center-aligned-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:before,
.header-center-aligned-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:after{
	background:#00bcd4
}
.header-center-aligned-transparent .topbar-toggle-trigger-icon-style:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .navbar-nav .nav-item-child.active{
	color:#00bcd4
}
.header-center-aligned-transparent .navbar-nav .nav-item-child.active:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .navbar-nav .nav-item-child:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child:hover{
	background:#00bcd4
}
.header-center-aligned-transparent .dropdown-menu .dropdown-menu-item.active .dropdown-menu-item-child{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu:hover>.dropdown-submenu-child:not(:hover){
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu .dropdown-submenu-child.active{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu .dropdown-submenu-child.active:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu .dropdown-submenu-child.active:hover:after{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu .dropdown-submenu-child:hover{
	background:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu.active .dropdown-submenu-child{
	color:#00bcd4
}
.header-center-aligned-transparent .dropdown-submenu.active .dropdown-submenu-child:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .mega-menu-list .mega-menu-child.active{
	color:#00bcd4
}
.header-center-aligned-transparent .mega-menu-list .mega-menu-child.active:hover{
	color:#00bcd4
}
.header-center-aligned-transparent .mega-menu-list .mega-menu-child:hover{
	background:#00bcd4
}
@media (max-width: 991px) {
	.header-center-aligned-transparent .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-center-aligned-transparent .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-child.active{
		color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-center-aligned-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon{
	background:#00bcd4
}
.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:before,
.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:after{
	background:#00bcd4
}
.header-fullscreen .header-fullscreen-nav-actions-right .nav-item-child{
	background:#00bcd4
}
.header-fullscreen .header-fullscreen-nav-bg-overlay .header-fullscreen-nav-close:hover{
	color:#00bcd4
}
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover{
	color:#00bcd4
}
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active:before,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown.active:after,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:before,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:after,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:before,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:after,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-fullscreen .header-fullscreen-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:after,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:before,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:after,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:before,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:after,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:before,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:after,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-fullscreen .header-fullscreen-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:after{
	color:#00bcd4
}
.header-fullscreen .header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-link:hover{
	color:#00bcd4
}
.header-fullscreen .header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-child.active{
	color:#00bcd4
}
.header-fullscreen .header-fullscreen-menu .nav-dropdown-menu .nav-dropdown-menu-child:hover{
	color:#00bcd4
}
@media (max-width: 991px) {
	.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon{
		background:#00bcd4
	}
	.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:before,
	.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:after{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-shrink.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon{
		background:#00bcd4
	}
	.header-shrink.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:before,
	.header-shrink.header-fullscreen .header-fullscreen-nav-actions-left .header-fullscreen-nav-trigger:hover .header-fullscreen-nav-trigger-icon:after{
		background:#00bcd4
	}

}
.header-section-scroll .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header-section-scroll .navbar-toggle:hover .toggle-icon:before,
.header-section-scroll .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header-section-scroll .header-section-scroll-menu .nav-item.active .nav-item-child:hover,
.header-section-scroll .header-section-scroll-menu .nav-item.active .nav-item-child:focus{
	color:#00bcd4
}
.header-section-scroll .header-section-scroll-menu .nav-item-child:hover{
	color:#00bcd4
}
.header-transparent .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header-transparent .navbar-toggle:hover .toggle-icon:before,
.header-transparent .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style{
	background:#00bcd4
}
.header-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:before,
.header-transparent .topbar-toggle-trigger:hover .topbar-toggle-trigger-style:after{
	background:#00bcd4
}
.header-transparent .topbar-toggle-trigger-icon-style:hover{
	color:#00bcd4
}
.header-transparent .navbar-nav .nav-item-child.active{
	color:#00bcd4
}
.header-transparent .navbar-nav .nav-item-child.active:hover{
	color:#00bcd4
}
.header-transparent .navbar-nav .nav-item-child:hover{
	color:#00bcd4
}
.header-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active{
	color:#00bcd4
}
.header-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child.active:hover{
	color:#00bcd4
}
.header-transparent .dropdown-menu .dropdown-menu-item .dropdown-menu-item-child:hover{
	background:#00bcd4
}
.header-transparent .dropdown-menu .dropdown-menu-item.active .dropdown-menu-item-child{
	color:#00bcd4
}
.header-transparent .dropdown-submenu:hover>.dropdown-submenu-child:not(:hover){
	color:#00bcd4
}
.header-transparent .dropdown-submenu .dropdown-submenu-child.active{
	color:#00bcd4
}
.header-transparent .dropdown-submenu .dropdown-submenu-child.active:hover{
	color:#00bcd4
}
.header-transparent .dropdown-submenu .dropdown-submenu-child.active:hover:after{
	color:#00bcd4
}
.header-transparent .dropdown-submenu .dropdown-submenu-child:hover{
	background:#00bcd4
}
.header-transparent .dropdown-submenu.active .dropdown-submenu-child{
	color:#00bcd4
}
.header-transparent .dropdown-submenu.active .dropdown-submenu-child:hover{
	color:#00bcd4
}
.header-transparent .mega-menu-list .mega-menu-child.active{
	color:#00bcd4
}
.header-transparent .mega-menu-list .mega-menu-child.active:hover{
	color:#00bcd4
}
.header-transparent .mega-menu-list .mega-menu-child:hover{
	background:#00bcd4
}
@media (max-width: 991px) {
	.header-transparent .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}

}
@media (min-width: 992px) {
	.header-transparent .navbar-nav .nav-item:hover .nav-item-child{
		color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-child.active{
		color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg{
		border-color:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child{
		background:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg .nav-item-child:hover{
		background:#00bcd4
	}
	.header-transparent .navbar-nav .nav-item-bg:hover .nav-item-child{
		background:#00bcd4
	}

}
.header-vertical .navbar-toggle:hover .toggle-icon{
	background:#00bcd4
}
.header-vertical .navbar-toggle:hover .toggle-icon:before,
.header-vertical .navbar-toggle:hover .toggle-icon:after{
	background:#00bcd4
}
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown.active,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown:hover,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover{
	color:#00bcd4
}
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown.active:before,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown.active:after,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:before,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-main-item-child-dropdown:hover:after,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:before,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown.active:after,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-vertical .header-vertical-menu .nav-main-item-child.nav-submenu-item-child-dropdown:hover:after,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:before,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown.active:after,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:before,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-main-item-child-dropdown:hover:after,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:before,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown.active:after,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:before,
.header-vertical .header-vertical-menu .nav-submenu-item-child.nav-submenu-item-child-dropdown:hover:after{
	color:#00bcd4
}
.header-vertical .header-vertical-menu .nav-dropdown-menu .nav-dropdown-menu-link:hover{
	color:#00bcd4
}
.header-vertical .header-vertical-menu .nav-dropdown-menu .nav-dropdown-menu-child.active{
	color:#00bcd4
}
.header-vertical .header-vertical-menu .nav-dropdown-menu .nav-dropdown-menu-child:hover{
	color:#00bcd4
}
.search .search-btn .search-btn-default:hover,
.search .search-btn .search-btn-active:hover{
	color:#00bcd4
}
@media (max-width: 992px) {
	.search.search-white .search-btn .search-btn-default:hover,
	.search.search-white .search-btn .search-btn-active:hover{
		color:#00bcd4
	}

}
@media (min-width: 992px) {
	.search.search-white .search-btn .search-btn-default:hover,
	.search.search-white .search-btn .search-btn-active:hover{
		color:#00bcd4
	}
	.header-shrink .search.search-white .search-btn .search-btn-default:hover,
	.header-shrink .search.search-white .search-btn .search-btn-active:hover{
		color:#00bcd4
	}

}
.search-classic .search-classic-btn .search-classic-btn-default:hover,
.search-classic .search-classic-btn .search-classic-btn-active:hover{
	color:#00bcd4
}
.search-classic .search-classic-field{
	border-top-color:#00bcd4
}
@media (max-width: 992px) {
	.search-classic.search-classic-white .search-classic-btn .search-classic-btn-default:hover,
	.search-classic.search-classic-white .search-classic-btn .search-classic-btn-active:hover{
		color:#00bcd4
	}

}
@media (min-width: 992px) {
	.search-classic.search-classic-white .search-classic-btn .search-classic-btn-default:hover,
	.search-classic.search-classic-white .search-classic-btn .search-classic-btn-active:hover{
		color:#00bcd4
	}
	.header-shrink .search-classic.search-classic-white .search-classic-btn .search-classic-btn-default:hover,
	.header-shrink .search-classic.search-classic-white .search-classic-btn .search-classic-btn-active:hover{
		color:#00bcd4
	}

}
.search-fullscreen .search-fullscreen-trigger-icon:hover{
	color:#00bcd4
}
.search-fullscreen .search-fullscreen-input-group .search-fullscreen-search:hover .search-fullscreen-search-icon{
	color:#00bcd4
}
.search-fullscreen .search-fullscreen-bg-overlay .search-fullscreen-close:hover{
	color:#00bcd4
}
@media (min-width: 992px) {
	.search-fullscreen.search-fullscreen-trigger-white .search-fullscreen-trigger-icon:hover{
		color:#00bcd4
	}
	.header-shrink .search-fullscreen.search-fullscreen-trigger-white .search-fullscreen-trigger-icon:hover{
		color:#00bcd4
	}

}
.search-on-header .search-on-header-btn .search-on-header-btn-default:hover,
.search-on-header .search-on-header-btn .search-on-header-btn-active:hover{
	color:#00bcd4
}
@media (max-width: 992px) {
	.search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-default:hover,
	.search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-active:hover{
		color:#00bcd4
	}

}
@media (min-width: 992px) {
	.search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-default:hover,
	.search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-active:hover{
		color:#00bcd4
	}
	.header-shrink .search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-default:hover,
	.header-shrink .search-on-header.search-on-header-white .search-on-header-btn .search-on-header-btn-active:hover{
		color:#00bcd4
	}

}
.search-push .search-push-btn .search-push-btn-default:hover,
.search-push .search-push-btn .search-push-btn-active:hover{
	color:#00bcd4
}
@media (max-width: 992px) {
	.search-push.search-push-white .search-push-btn .search-push-btn-default:hover,
	.search-push.search-push-white .search-push-btn .search-push-btn-active:hover{
		color:#00bcd4
	}

}
@media (min-width: 992px) {
	.search-push.search-push-white .search-push-btn .search-push-btn-default:hover,
	.search-push.search-push-white .search-push-btn .search-push-btn-active:hover{
		color:#00bcd4
	}
	.header-shrink .search-push.search-push-white .search-push-btn .search-push-btn-default:hover,
	.header-shrink .search-push.search-push-white .search-push-btn .search-push-btn-active:hover{
		color:#00bcd4
	}

}
.sidebar-trigger:hover .sidebar-trigger-icon{
	background:#00bcd4
}
.sidebar-trigger:hover .sidebar-trigger-icon:before,
.sidebar-trigger:hover .sidebar-trigger-icon:after{
	background:#00bcd4
}
.sidebar-nav .sidebar-nav-trigger:hover .sidebar-trigger-icon:before,
.sidebar-nav .sidebar-nav-trigger:hover .sidebar-trigger-icon:after{
	background:#00bcd4
}
.sidebar-nav .sidebar-nav-about-link:hover{
	color:#00bcd4
}
@media (min-width: 992px) {
	.sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon{
		background:#00bcd4
	}
	.sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon:before,
	.sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon:after{
		background:#00bcd4
	}
	.header-shrink .sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon{
		background:#00bcd4
	}
	.header-shrink .sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon:before,
	.header-shrink .sidebar-trigger.sidebar-trigger-style-white:hover .sidebar-trigger-icon:after{
		background:#00bcd4
	}

}
.topbar-c .topbar-c-contacts .topbar-c-contacts-link:hover{
	color:#00bcd4
}
.topbar-c .topbar-c-actions .topbar-c-actions-link:hover{
	color:#00bcd4
}
.topbar-c .topbar-c-actions .topbar-c-actions-link-border:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.topbar-e .topbar-e-list .topbar-e-list-item .topbar-e-list-dropdown:hover{
	color:#00bcd4
}
.topbar-e .topbar-e-actions .topbar-e-actions-link:hover{
	color:#00bcd4
}
.topbar-e .topbar-e-sh-cart .topbar-e-sh-cart-link:hover{
	color:#00bcd4
}
.topbar-e .topbar-e-sh-cart .topbar-e-sh-cart-menu-product-name:hover{
	color:#00bcd4
}
.topbar-e .topbar-e-sh-cart .topbar-e-sh-cart-close:hover{
	color:#00bcd4
}
.topbar-e .topbar-e-sh-cart .topbar-e-sh-cart-subtotal-price{
	color:#00bcd4
}
.topbar-e .topbar-e-sh-cart .topbar-e-sh-cart-subtotal-view-link:hover{
	color:#00bcd4
}
.topbar-t .topbar-t-list .topbar-t-list-item .topbar-t-list-dropdown:hover{
	color:#00bcd4
}
.topbar-t .topbar-t-list .topbar-t-list-dropdown-menu .topbar-t-list-dropdown-menu-link:hover{
	background:#00bcd4
}
.topbar-t .topbar-t-sh-cart .topbar-t-sh-cart-link:hover{
	color:#00bcd4
}
.topbar-t .topbar-t-sh-cart .topbar-t-sh-cart-menu-product-name:hover{
	color:#00bcd4
}
.topbar-t .topbar-t-sh-cart .topbar-t-sh-cart-close:hover{
	color:#00bcd4
}
.topbar-t .topbar-t-sh-cart .topbar-t-sh-cart-subtotal-price{
	color:#00bcd4
}
.topbar-t .topbar-t-sh-cart .topbar-t-sh-cart-subtotal-view-link:hover{
	color:#00bcd4
}
.contact-us .contact-us-timeline-day{
	background:#00bcd4
}
.faq .faq-search .faq-search-search:hover .faq-search-search-icon{
	color:#00bcd4
}
.animsition-loading{
	border-left-color:#00bcd4
}
.back-to-top-theme{
	background:#00bcd4
}
.back-to-top-theme:hover{
	background:#00bcd4
}
.owl-dot span,
.owl-dots span{
	border-color:#00bcd4
}
.owl-dot.active span,
.owl-dots.active span{
	background:#00bcd4
}
.testimonials-v4-arrows .arrow-next:hover,
.testimonials-v4-arrows .arrow-prev:hover{
	background:#00bcd4
}
.owl-control-arrows-v1 .owl-arrow:hover{
	background:#00bcd4
}
.theme-portfolio .cbp-filter-item.cbp-filter-item-active{
	color:#00bcd4
}
.theme-portfolio .cbp-filter-item:hover{
	color:#00bcd4
}
.theme-portfolio .cbp-filter-counter{
	background:#00bcd4
}
.theme-portfolio .cbp-filter-counter:after{
	border-top-color:#00bcd4
}
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-link,
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-button-link,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-link,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-button-link{
	color:#00bcd4;
	border-color:#00bcd4
}
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-link:hover,
.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-link:hover,
.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-button-link:hover{
	background:#00bcd4
}
.theme-portfolio .cbp-caption-zoom .cbp-caption-activeWrap{
	background:rgba(0, 188, 212, 0.7)
}
.theme-portfolio .theme-portfolio-item-v3 .theme-portfolio-lightbox .theme-portfolio-item-v3-icon:hover:before,
.theme-portfolio .theme-portfolio-item-v3 .theme-portfolio-lightbox .theme-portfolio-item-v3-icon:hover:after{
	background:#00bcd4
}
.theme-portfolio-desc .portfolio-item-category:hover{
	color:#00bcd4
}
.theme-carousel-control-v2 .carousel-control-arrows-v2:hover{
	background:#00bcd4
}
.theme-carousel-indicators-v2 li.active{
	background:#00bcd4;
	border-color:#00bcd4
}
.theme-carousel-indicators-v3 li.active{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v3 li:hover{
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v3 li:hover.active{
	color:#00bcd4;
	border-bottom-color:#00bcd4
}
.theme-carousel-indicators-v4 li.active{
	background:#00bcd4;
	border-color:#00bcd4
}
.theme-carousel-indicators-v5 li.active .theme-carousel-indicators-item{
	border-color:#00bcd4
}
.tp-loader.spinner2{
	background:#00bcd4
}
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox input[type="radio"]:checked + label:before{
	background:#00bcd4;
	border-color:#00bcd4
}
.work-v1 .work-v1-badge{
	background:#00bcd4
}
.work-v1 .work-v1-list .work-v1-category .work-v1-category-link:hover{
	color:#00bcd4
}
.promo-block-v12 .promo-block-v12-form:focus{
	color:#00bcd4
}
.promo-block-v12 .promo-block-v12-form:focus::-moz-placeholder{
	color:#00bcd4
}
.promo-block-v12 .promo-block-v12-form:focus:-ms-input-placeholder{
	color:#00bcd4
}
.promo-block-v12 .promo-block-v12-form:focus::-webkit-input-placeholder{
	color:#00bcd4
}
.shopify-product:hover .shopify-product-name{
	color:#00bcd4
}
.language-v1 .language-v1-toggle:hover{
	color:#00bcd4
}
.language-v1 .language-v1-dropdown-link:hover{
	background:#00bcd4
}
@media (min-width: 992px) {
	.language-v1.language-v1-style-white .language-v1-toggle:hover{
		color:#00bcd4
	}
	.header-shrink .language-v1.language-v1-style-white .language-v1-toggle:hover{
		color:#00bcd4
	}

}
.language-push .language-push-btn-icon:hover{
	color:#00bcd4
}
@media (min-width: 992px) {
	.language-push.language-push-style-white .language-push-btn-icon:hover{
		color:#00bcd4
	}
	.header-shrink .language-push.language-push-style-white .language-push-btn-icon:hover{
		color:#00bcd4
	}

}
.newsletter-v6 .newsletter-v6-btn:hover{
	color:#00bcd4
}
.news-v11 .news-v11-subtitle a{
	color:#00bcd4
}
.image-comparison-container .image-comparison-handle{
	background:#00bcd4
}
.testimonials-v2-arrows .arrow-next:hover,
.testimonials-v2-arrows .arrow-prev:hover{
	background:#00bcd4
}
.fuelux .radio-checkbox-bg-icon.checked:before{
	background:#00bcd4;
	border-color:#00bcd4
}
.fuelux .radio-checkbox-bg-color.checked:before{
	background:#00bcd4;
	border-color:#00bcd4
}
.fuelux .radio-checkbox-brd.checked:before{
	border-color:#00bcd4
}
.fuelux .radio-checkbox-brd-dot.checked:before{
	border-color:#00bcd4
}
.fuelux .radio-checkbox-brd-dot.checked:after{
	background:#00bcd4
}
.segment-controls{
	border-color:#00bcd4
}
.segment-controls .segment-controls-label:before{
	background:#00bcd4
}
.color-base{
	color:#00bcd4 !important
}
.bg-color-base{
	background:#00bcd4 !important
}
.accordion-v3 .panel-title>a.fg-text-dark:hover:before,
.accordion-v3 .panel-title>a.fg-text-light:hover:before,
.accordion-v3 .panel-title>a.fg-text-dark:hover,
.accordion-v3 .panel-title>a.fg-text-light:hover,
.accordion-v4 .panel-title>a.fg-text-dark:hover:before,
.accordion-v4 .panel-title>a.fg-text-light:hover:before,
.accordion-v4 .panel-title>a.fg-text-dark:hover,
.accordion-v4 .panel-title>a.fg-text-light:hover,
.tab-v3.fg-text-light .nav-tabs>li:hover>a{
	color:#00bcd4
}
.accordion-v2 .panel-title>a[aria-expanded="true"].fg-text-light,
.accordion-v2 .panel-title>a.fg-text-light:hover,
.accordion-v5 .panel-title>a[aria-expanded="true"].fg-text-light,
.accordion-v5 .panel-title>a.fg-text-light:hover,
.tab-v1 .nav-tabs>li>a.fg-text-light:hover,
.tab-v1 .nav-tabs>li.active>a.fg-text-light,
.tab-v3 .nav-tabs>li.active>a.fg-text-light,
.tab-v5 .nav-tabs>li>a.fg-text-light:hover,
.tab-v5 .nav-tabs>li.active>a.fg-text-light,
.tab-v6 .nav-tabs>li>a.fg-text-light:hover,
.tab-v6 .nav-tabs>li.active>a.fg-text-light{
	background-color:#00bcd4
}
.theme-portfolio-title-heading .theme-portfolio-title a:hover,
.theme-portfolio-item-v1-title.fg-text-light a:hover,
.news-v1 .ff-meta-item.fg-text-dark a:hover{
	color:#00bcd4
}
.post-content input[type=button],
.post-content input[type=reset],
.post-content input[type=submit]{
	background-color:#00bcd4
}
.shopping-cart-icon-wrapper:hover{
	color:#00bcd4
}
.shopping-cart-icon-wrapper:after{
	background:#00bcd4
}
.ark-header.ark-cart-classic .shopping-cart .shopping-cart-menu{
	border-top-width:2px;
	border-top-style: solid;
	border-top-color:#00bcd4
}
.woocommerce-message{
	border-top-color:#00bcd4
}
.woocommerce-message:before{
	color:#00bcd4
}
.woocommerce span.onsale{
	background-color:#00bcd4
}
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	color:#00bcd4
}
.woocommerce ul.products li.product .price{
	color:#00bcd4
}
.woocommerce-product-search #searchsubmit{
	color:#00bcd4
}
.woocommerce-product-search:hover #searchsubmit{
	background-color:#00bcd4;
	border-color:#00bcd4
}
.widget_product_tag_cloud .widget-body a:hover{
	background:#00bcd4;
	border-color:#00bcd4
}
.woocommerce-mini-cart-wrapper a.remove:not(:hover){
	color:#00bcd4!important
}
.woocommerce-mini-cart-wrapper a.remove:hover{
	background-color:#00bcd4
}
.woocommerce-mini-cart-wrapper .shopping-cart-subtotal-checkout-link{
	background-color:#00bcd4
}
.woocommerce-mini-cart-wrapper .shopping-cart-subtotal-checkout-link:hover{
	background-color:#00bcd4
}
.woocommerce-mini-cart-wrapper .shopping-cart-subtotal-view-link:hover{
	color:#00bcd4
}
.woocommerce-mini-cart-wrapper .shopping-cart-menu-product-name:hover{
	color:#00bcd4
}
.woocommerce-mini-cart-wrapper .shopping-cart-subtotal-price{
	color:#00bcd4
}
body .woocommerce #respond input#submit.alt,body .woocommerce a.button.alt,body .woocommerce button.button.alt,body .woocommerce input.button.alt{
	background-color:#00bcd4
}
body .woocommerce #respond input#submit.alt:hover,body .woocommerce a.button.alt:hover,body .woocommerce button.button.alt:hover,body .woocommerce input.button.alt:hover{
	background-color:rgba(0, 188, 212, 0.7)
}
.woocommerce a.button.add_to_cart_button, .woocommerce a.button.product_type_external, .woocommerce a.button.product_type_grouped {
	background-color:#00bcd4
}
.woocommerce a.button.add_to_cart_button:hover, .woocommerce a.button.product_type_external:hover, .woocommerce a.button.product_type_grouped:hover {
	background-color:rgba(0, 188, 212, 0.7)
}
.woocommerce button.button.alt.single_add_to_cart_button{
	background-color:#00bcd4
}
.woocommerce button.button.alt.single_add_to_cart_button:hover{
	background-color:rgba(0, 188, 212, 0.7)
}
.post-content.ff-richtext li a{
	color:#00bcd4
}